<?xml version="1.0"?>
<config>
    <modules>
        <CueBlocks_SitemapPluginAwBlog>
            <version>0.1.0</version>
        </CueBlocks_SitemapPluginAwBlog>
    </modules>
    <global>
        <models>
            <sitemapPluginAwBlog>
                <class>CueBlocks_SitemapPluginAwBlog_Model</class>
                <resourceModel>sitemapPluginAwBlog_mysql4</resourceModel>
            </sitemapPluginAwBlog>
            <sitemapPluginAwBlog_mysql4>
                <class>CueBlocks_SitemapPluginAwBlog_Model_Mysql4</class>
            </sitemapPluginAwBlog_mysql4>
        </models>
        <events>
            <cb_sitemap_plus_process_sources_before>
                <observers>
                    <cueblocks_feed>
                        <type>singleton</type>
                        <class>sitemapPluginAwBlog/observer</class>
                        <method>processSource</method>
                    </cueblocks_feed>
                </observers>
            </cb_sitemap_plus_process_sources_before>
        </events>
    </global>
    <default>
        <sitemapEnhancedPlus>
            <blog>
                <enabled>1</enabled>
                <enabled_realdate>1</enabled_realdate>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </blog>
        </sitemapEnhancedPlus>
    </default>
</config>